.taskfons{
    background-color: #5C03BC;
    width: 120px;
    height: 740px;
    padding-top: 45px;
    padding-left: 35px;
    padding-right: 35px;
}

.taskfons > a > div{
    width: 60px;
    height: 60px;
    background-color: #8F00FF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.TaskExecution{
    display: flex;
}

.taskInfo{
    width: 600px;
    padding-left: 40px;
}

.taskInfo > h2 {
    border-bottom: 1px solid #E1E1E1;
    line-height: 2;
}

.taskCode{
    width: 746px;
    border-left: 1px solid #E1E1E1;
}

.taskCode > h2 {
    border-bottom: 1px solid #E1E1E1;
    line-height: 2;
    padding-left: 40px;
}

.widthTaskInfo{
    width: 480px;
    padding-left: 40px;
    padding-top: 5px;
}

.note{
    padding-top: 150px;
}

.taskFlex{
    display: flex;
    justify-content: space-between;
    width: 560px;
    padding-top: 160px;
}

.taskNumber > input{
    width: 140px;
    height: 38px;
    border-radius: 5px;
}

.btntaskNumber > button{
    width: 180px;
    height: 44px;
    background-color: white;
    font-size: 21px;
    text-align: center;
    color: #3B3B3B;
    border: 1px solid #3B3B3B;
    border-radius: 5px;
}

.taskCodeFlex{
    display: flex;
}

.textComp {
    border: 1px solid #E1E1E1;
    height: 206px;
    padding-left: 40px;
}

.textComp > p{
    font-size: 30px;
    color: #47CB7B;
}


.taskCodeBtn{
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-top: 14px;
}

.panelCode{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}

.btnDrop > button{
    width: 140px;
    height: 44px;
    background-color: white;
    font-size: 21px;
    text-align: center;
    color: #3B3B3B;
    border: 1px solid #3B3B3B;
    border-radius: 5px;
}

.nextTask{
    display: flex;
    align-items: center;
}

.nextTask > p{
    font-weight: 400;
    font-size: 20px;
}

.errov{
    border: 1px solid #3B3B3B;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 34px;
    height: 34px;
    margin-left: 10px;
}

.send > button{
    width: 180px;
    height: 60px;
    background-color: #47CB7B;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}
